body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--neutral-bg-color);
}

.header{
    display: flex;
    justify-content: center;
}

.header .text-container{
    max-width: 50rem;
    text-align: center;
    margin-top: 10rem;
}

.header .text-container h1{
    font-size: 3.6rem;
    color: var(--neutral-medium-color);
    font-weight: 200;
}

.header .text-container .bold{
    font-weight: 600;
    color: var(--neutral-dark-color);
}

.header .text-container p{
    margin-top: 1.7rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.tools-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
    min-height: 68vh;
}

.tools-details .card{
    max-width: 35rem;
    min-height: 25rem;
    border-radius: 1rem;
    color: var(--neutral-dark-color);
    background-color: white;
    box-shadow: 0 0 1.5rem #4b4b4b41;
}

.tools-details .supervisor{
    border-top: var(--supervisor-border);
}

.tools-details .team-builder{
    border-top: var(--team-builder-border);
}

.tools-details .karma{
    border-top: var(--karma-border);
}

.tools-details .calculator{
    border-top: var(--calculator-border);
}

.tools-details .double-card-container .karma{
    margin-top: 2.8rem;
}

.tools-details .card .card-title{
    font-size: 2rem;
    padding: 2.9rem 0 0 3.3rem;
}

.tools-details .card .card-description{
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-inline: 3.5rem;
    font-weight: 200;
}

.tools-details .card .card-image{
    margin: 3.5rem 0 0 25.5rem;
}