html{
    font-size: 62.5%
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--neutral-bg-color);
}

.header{
    display: flex;
    justify-content: center;
}

.header .text-container{
    max-width: 50rem;
    text-align: center;
    margin-top: 10rem;
}

.header .text-container h1{
    font-size: 3.6rem;
    font-weight: 200;
    color: var(--neutral-medium-color);
}

.header .text-container .h1-bold{
    font-weight: 600;
    color: var(--neutral-dark-color);
}

.header .text-container p{
    margin-top: 1.7rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.tools-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
    min-height: 68vh;
}

.tools-details .card{
    min-width: 35rem;
    max-width: 35rem;
    min-height: 25rem;
    border-radius: 1rem;
    color: var(--neutral-dark-color);
    background-color: white;
    box-shadow: 0 0 1.5rem #4b4b4b41;
}

.tools-details .card h3{
    font-size: 2rem;
    padding: 2.9rem 0 0 3.3rem;
}

.tools-details .card p{
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0 3.5rem;
    font-weight: 200;
}

.tools-details .card img{
    margin: 3.5rem 0 0 25.5rem;
}

.tools-details .card.supervisor{
    border-top: solid 0.4rem var(--supervisor-border-color);
}

.tools-details .card.team-builder{
    border-top: solid 0.4rem var(--team-builder-border-color);
}

.tools-details .card.karma{
    border-top: solid 0.4rem var(--karma-border-color);
}

.tools-details .card.calculator{
    border-top: solid 0.4rem var(--calculator-border-color);
}

.tools-details .double-card-container .karma{
    margin-top: 2.8rem;
}
